@import "tailwindcss";

@theme {
  --color-background: #1A1E37 ;           
  --color-surface: #2F3247 ;     
  --color-secondary-surface: #3C3E51 ;  
  --color-on-surface: #FFFFFF ;     
  --color-button: #5A6FC5 ;
  --color-button-hover: #3B4AA1 ;
  --color-glass-bg: #1E233C ;
  --color-border-color: #3D4B8A ;
  --color-shadow-color: #0A0C1A ;
}


* {
  box-sizing: border-box;
  user-select: none;
  font-family: "Nunito", sans-serif;
  outline: none;
}

body {
  background: var(--color-background);
  color: var(--color-on-surface);
}

::-webkit-scrollbar {
  display: none;
}

@keyframes slowGrow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.animate-slow-grow {
  animation: slowGrow 3s ease-in-out infinite alternate;
}
