@import "tailwindcss";

@theme {
  --color-primary-100:#1F3A5F ;
  --color-primary-200:#4d648d ;
  --color-primary-300:#acc2ef ;
  --color-accent-100:#3D5A80 ;
  --color-accent-200:#cee8ff ;
  --color-text-100:#e0e0e0 ;
  --color-text-200:#FFFFFF ;
  --color-bg-100:#0F1C2E ; 
  --color-bg-200:#1f2b3e ;
  --color-bg-300:#374357 ;
}


* {
  box-sizing: border-box;
  user-select: none;
  font-family: "Nunito", sans-serif;
  outline: none;
}

body {
  background: var(--color-bg-100);
  color: var(--color-text-100);
}

::-webkit-scrollbar {
  display: none;
}

@keyframes slowGrow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.animate-slow-grow {
  animation: slowGrow 3s ease-in-out infinite alternate;
}
